*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.App{
display:flex;
min-height:100vh;
align-items:center;
justify-content:center;
}

.calculator{
  width:100%;
  max-width:400px;
  background-color:white;
  overflow:hidden;

}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  border-radius:4px;
  background-color:black;
  color:white;
}

input[type=text]:focus {
  border: 3px solid #555;
}
button{
 
  border:none;
  outline:none;
  color:white;
  font-size:20px;
  padding:16px;
  cursor:pointer;
  
}



button:hover{
  opacity:0.8;

}

.operators{
  display:flex;

}

.operators button{
flex:1 1 0%;
background-color:rgb(41 ,144, 125)
}

.special-btn{
  display:flex;
  flex-wrap:wrap;
 
}

#del-btn{
  background-color:rgb(144, 16, 46);
}
.special-btn button{
  flex:33.3333%;
  background-color:rgb(183, 46, 46);
}

.digits{
  display:flex;
  flex-wrap:wrap;
}

.digits button{
  
  flex:33.3333%;
 background-color:black;
}